<div class="zweite-schritt-container">
  <div class="container quiz-container">
    <div class="quiz-container__header text-center">
      <span class="quiz-question"> Für wen?
      </span>
    </div>

    <md-radio-group [(ngModel)]="targetGroup">

      <div class="row no-gutters">
        <div *ngFor="let secondStep of secondStepOptions"
             class="col-xs-6 col-sm-4 col-md-3">
          <app-quiz-card [optionsObj]="secondStep"
                         [optionChecked] = "optionChecked(secondStep)"></app-quiz-card>
        </div>
      </div>

    </md-radio-group>
    <div class="quiz-container__footer">
      <button color="accent"
              (click)="goPreviousStep(1)"
              md-raised-button>Zurück
      </button>

      <button color="accent"
              [disabled]="!targetGroup"
              (click)="goNextStep(1)"
              md-raised-button>Weiter
      </button>
    </div>

  </div>

</div>
