<md-sidenav-container class="default-theme">
  <app-side-nav></app-side-nav>
 <md-toolbar color="primary" class="mat-elevation-z20">
   <button color="accent" class="mat-elevation-z20"  md-mini-fab><md-icon>menu</md-icon></button>

   <span class="navigation-header">
    Welcher Lette-Typ bist du?
  </span>
   <a color="accent" class="mat-elevation-z20" href="quiz" md-mini-fab> <md-icon>replay</md-icon> </a>

  </md-toolbar>


  <div  class="main-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

