md-toolbar{
  width: 100%;
  overflow-x: hidden;
  display: inline-flex;
}
.main-content{
  width: 100%;
  min-height: calc(100% - 64px);
  background-color: #eceeef;
}

.navigation-header{
  flex: 1 1 auto;
  text-align: center;
  font-size: 3rem;
}


