<div class="erste-schritt-container">
  <div class="container quiz-container">
    <div class="quiz-container__header text-center">
      <span class="quiz-question"> Welcher Typ Bist du?
      </span>
    </div>

    <md-radio-group [(ngModel)]="personType">

      <div class="row no-gutters">
        <div *ngFor="let firstStep of firstStepOptions"
             class="col-xs-6 col-sm-4 col-md-3">
          <app-quiz-card [optionsObj]="firstStep" [optionChecked] = "optionChecked(firstStep)"></app-quiz-card>
        </div>
      </div>

    </md-radio-group>

    <div class="quiz-container__footer">
      <button color="accent"
              (click)="goPreviousStep(1)"
              md-raised-button><md-icon>keyboard_arrow_left</md-icon>Zurück
      </button>

      <button color="accent"
              [disabled]="!personType"
              (click)="goNextStep(1)"
              md-raised-button>Weiter<md-icon>keyboard_arrow_right</md-icon>
      </button>


    </div>
    </div>

  </div>



