@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
html, body, material-app, md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

